# ignore hidden dirs
.*
# but track this one :)
!.gitignore

# normal dirs
ClIMB/
Cuts/
Data/
Old/
Clusters/
RootFiles/
# Ivan's code
Simulation/tfm-simulation

#files
*.root
*.png
*.pdf
*.zip

#Website overrides
!Fits/**/Outputs/*.png
!website/RootFiles/
!website/RootFiles/*.root
