# ignore hidden dirs
.*
# but track this one :)
!.gitignore

# normal dirs
ClIMB/
Cuts/
Data/
Old/
Clusters/
RootFiles/
__pycache__/
# Ivan's code
Simulation/tfm-simulation

#files
*.root
*.png
*.pdf
*.zip

#Website overrides
!Fits/**/Outputs/*.png
!website/RootFiles/
!website/RootFiles/*.root

# CMake things
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

/build/
/out/
/bin/
/lib/

*.so
*.so.*
*.dylib
